yarnPath: ".yarn/releases/yarn-berry.cjs"

unsafeHttpWhitelist:
  - "npm.greensock.com"

npmScopes:
  gsap:
    npmRegistryServer: "https://npm.greensock.com"
    npmAuthToken: "4cca6300-a1ab-45d8-88e7-3956a8ab53f2"